title = "Категория"
url = "/category/:slug"
layout = "default"
is_hidden = 0

[builderDetails Category]
modelClass = "Iamk\Category\Models\Category"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "slug"
notFoundMessage = "Record not found"
==
{% set record = Category.record %}
{% set displayColumn = Category.displayColumn %}
{% set notFoundMessage = Category.notFoundMessage %}

{% if record %}



    {% partial "category/category-main-banner" categoryTitle=record.title categorySubtitle='pads / patches / masks' mainCategoryBackground=record.main_banner
mainCategoryBackgroundMobile=record.main_banner_mobile%}


{% endif %}

{% for subcategory in record.subcategory %}
    {% partial "category/category" subcategoryTitle=subcategory.subcategory_title categorySubtitle=subcategory.subcategory_description categorySubtitleMarked='#youaredarling' mainCategoryBackground=subcategory.subcategory_banner %}
{% endfor %}