title = "product"
url = "/product/:slug"
layout = "product-card"
is_hidden = 0

[builderDetails productDetails]
modelClass = "Iamk\Productinfo\Models\ProductInfo"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "slug"
notFoundMessage = "Record not found"
==

{% set record = productDetails.record %}
{% set displayColumn = productDetails.displayColumn %}
{% set notFoundMessage = productDetails.notFoundMessage %}

<div class="product-section">




    <div class="product-section__photo-block float-scroll">

        {% for slider in record.color_slider %}
            <div class="photo-block__product-holder {% if loop.first == true %} activedColorSlider{% endif %}" id="{{slider.product_color}}">
                {% for sliderPicture in slider.gallery %}
                    <img src="{{sliderPicture.picture | media}}" alt="{{sliderPicture.alt_text }}" class="photo-block__product">
                {% endfor %}
            </div>
        {% endfor %}

    </div>

    <div class="product-section__text-block">
            <div class="product-section__text-block-holder">
                <div class="text-block__title-section">
                    <h1 class="title-section__title">
                        {% for title in record.product_title %}
                        <span class="{% if title.product_title_marked == true %}title-section__title_marked{% endif %}">{{title.product_title_construct}}</span>
                        {% endfor %}
                    </h1>
                    <p class="title-section__description">
                        </p><div title="Page 1">

	<p>{{record.description}}</p>
</div>
                    <p></p>
                </div>
                <div class="text-block__basket-section">
                    <div class="basket-section__price">{{ record.price }}</div>
                </div>



                <div class="text-block__color-section">
                    {% for slider in record.color_slider %}
                    <div class="text-block__color-section__holder" >
                        <input class="radio-color-picker" type="radio" id="color-picker-{{slider.product_color}}"
                               name="contact" value="email" {% if loop.first == true %} checked{% endif %}  data-colorPicker="{{slider.product_color}}">
                        <label for="color-picker-{{slider.product_color}}">
                            <div class="text-block__color-section_item" style="background-color: {{slider.product_color}}">
                                <span class="text-block__color-section_number">{{loop.index}}</span>
                            </div>
                        </label>
                    </div>
                    {% endfor %}
                </div>

                <div class="text-block__info-section">
                    <div class="info-section__product-info-block">
                        {% for addittionalInfo in record.additional_info %}
                        <div class="product-info-block__description">
                            <h2 class="product-info-block__description__title">{{addittionalInfo.additional_info_title}}</h2>
                            <p>{{addittionalInfo.additional_info_text | raw}}
                            </p>
                        </div>
                        {% endfor %}

                        <a href="#" class="buy_now_link">buy now</a>


                    </div>
                </div>
            </div>
        </div>


    </div>
    
    
    <style>
    
    
/* PRODUCT CARD */



.text-block__color-section {
    display: flex;
}

.text-block__color-section__holder {
    width: 85px;
    height: 85px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-block__color-section_item {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition-duration: 400ms;
    cursor: pointer;
}

.text-block__color-section_number {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-block__color-section__holder.active-color > .text-block__color-section_item > .text-block__color-section_number {
    border: 3px solid #fff;
    border-radius: 50%;
}

.text-block__color-section__holder.active-color > .text-block__color-section_item {
    width: 85px;
    height: 85px;
}

.text-block__color-section_item:hover {
    width: 85px;
    height: 85px;
    transition-duration: 400ms;
}

.text-block__color-section_item:hover > .text-block__color-section_number {
    width: 85px;
    height: 85px;
}

a.buy_now_link {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: #EA028A;
    text-decoration: underline;
}

.product-section {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: #EEEEEE;
}

.product-section__text-block {
    color: #222;
    padding: 6%;
    margin: 0;
    width: 50%;
    background-color: #fff;
}

h1.title-section__title {
    font-size: 50px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 3%;
    color: #222;
    font-weight: 700;
}

.title-section__title_marked {
    color: #EA028A;
}

.text-block__basket-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
}

.basket-section__price {
    font-size: 35px;
    font-weight: 700;
    color: #EA028A;
}

.basket-section__price::after {
    content: ' ₽';
    white-space: pre;
    position: absolute;
}

.text-block__title-section {
    margin-bottom: 5%;
}

.title-section__description {
    line-height: 1.8;
    font-size: 1.2em;
}

.product-info-block__title {
    margin: 0 auto 2%;
}

.product-info-block__description {
    margin: 0 0 5%;
    line-height: 1.8;
}

h2.product-info-block__description__title {
    color: #222;
    font-size: 25px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 10px;
}

.product-section__photo-block {
    width: 50%;
    margin: 30px 0;
}

.photo-block__product-holder {
    width: 100%;
    display: none;
}

.photo-block__product-holder.activedColorSlider {
    width: 100%;
    display: block;
}

.photo-block__product {
    width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 48px;
}

.float-scroll {
    transition-duration: 100ms;
    transform: rotateX(0.01px);
    position: sticky;
    bottom: 0;
}

input.radio-color-picker {
    display: none;
}

input.radio-color-picker:checked+label > .text-block__color-section_item {
    width: 85px;
    height: 85px;
}

input.radio-color-picker:checked+label > .text-block__color-section_item > .text-block__color-section_number {
    border: 3px solid #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
    
    </style>

<script>
    var colorVariantNodes = document.querySelectorAll('.radio-color-picker')
    var colorSliderProducts = document.querySelectorAll('.photo-block__product-holder')


    for (let i = 0; i < colorVariantNodes.length; i++) {
        colorVariantNodes[i].addEventListener('change', function(e) {
            var currentPickerColorNode = e.target
            var currentPickedColor = currentPickerColorNode.dataset.colorpicker
            selectSliderProduct(currentPickedColor)
        })
    }

    function selectSliderProduct(hex) {
        for (let i = 0; i < colorSliderProducts.length; i++) {
            var currentNodeId = colorSliderProducts[i].id
            if (hex == currentNodeId) {
                colorSliderProducts[i].classList.add('activedColorSlider')
            } else {
                colorSliderProducts[i].classList.remove('activedColorSlider')
            }
        }
    }


</script>