==
<header class="MainHeader">
    <div class="MainHeader-Content">
        <div class="MainLogo">
<!--            <img src="{{ 'assets/images/logo.svg' | theme }}">-->
        <a class="LogoLink" onclick="goTo('/en', false)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 205.1 32" class="LogoSvg">
                <path d="M20.5 24.7c3.5 0 5.2-2 5.2-4.4v-8.7c0-2.3-1.7-4.4-5.2-4.4h-4.3v17.5h4.3zM10.8 2.5h9.7c6.5 0 10.6 3.3 10.6 9.3v8.4c0 6-4.1 9.3-10.6 9.3h-9.7v-27zM74.4 14.7c2.4 0 3.7-1 3.7-3.7s-1.4-3.7-3.7-3.7h-5.1v7.5h5.1zM63.9 2.5h11.5c5.4 0 8.2 3.2 8.2 8.4 0 3.8-1.7 6.5-4.4 7.8l4.9 9v1.8H79l-5.5-10.2h-4.1v10.2H64v-27zM90 2.5h5.6v22.2h12.7v4.8H90v-27zM113.2 29.5h5.8v-27h-5.8v27zM125.7 2.5h5.1l10.5 16.8V2.5h5.6v27h-5.1l-10.5-16.8v16.8h-5.6v-27zM152.8 20.9v-8.8c0-6.1 4-9.7 10.9-9.7 5.9 0 10.4 3.2 10.4 9.3h-5.5c0-2.7-2.1-4.3-5.1-4.3-3.4 0-5 1.7-5 4.4v9c0 2.9 1.8 4.6 4.9 4.6 2.1 0 4.2-1 5.2-2.6V20h-4.8v-4.5H174V30h-3l-1.5-2.2c-1.7 1.8-4.1 2.8-6.8 2.8-6.2-.1-9.9-3.7-9.9-9.7zM49.9 18.6L47 9.8l-3 8.8h5.9zM35 27.7l9.4-25.2h5.4l9.4 25.2v1.8h-5.4l-2.2-6.3h-9.2L40 29.5h-5v-1.8z"/>
                <path d="M194.3 7.6l-1.7-2.9-3.8 2.2V2.5h-3.4v4.3l-3.8-2.2-1.7 2.9 3.8 2.2-3.8 2.2 1.7 2.9 3.8-2.2V17h3.4v-4.3l3.8 2.2 1.7-2.9-3.8-2.2 3.8-2.2z" fill="#E6007D"/>
            </svg>
        </a>
        </div>
        <div class="MainMenu" ontouchstart="openMenuHandler()" onclick="openMenuHandler()">
            <div class="MainMenu-Icon" data-openMenu="menu-icon"></div>
        </div>
    </div>

</header>





<style>








</style>

<script>


let div = document.createElement('div');

div.style.overflowY = 'scroll';
div.style.width = '50px';
div.style.height = '50px';

// мы должны вставить элемент в документ, иначе размеры будут равны 0
document.body.append(div);
let scrollWidth = div.offsetWidth - div.clientWidth;

div.remove();



    function scrollDown() {
        window.scroll({
            top: window.innerHeight - (document.querySelector('.MainHeaderFixed').clientHeight),
            behavior: "smooth"
        })
    }


    function openMenuHandler() {

        let bodyNode = document.querySelector('body')

        let menuButton = document.querySelectorAll('[data-openMenu="menu-icon"]')[0];
        let menuButtonFixed = document.querySelectorAll('[data-openMenu="menu-icon"]')[1];

        let logo = document.querySelector('.LogoLink')
        let menuDrawer = document.querySelector('.MainMenuDrawer')
        let menuItems = document.querySelector('.MainHeaderFixed-Subcategory')
        let logoHolder = document.querySelector('.MainLogo.MainLogoFixed')



        logoHolder.classList.toggle('js-OpenedMenu')
        menuItems.classList.toggle('js-OpenedMenu')
        bodyNode.classList.toggle('js-bodyMenuIsOpened')
        menuButton.classList.toggle('js-menuIsOpened')
        menuButtonFixed.classList.toggle('js-menuIsOpened')
        logo.classList.toggle('js-menuIsOpened')
        menuDrawer.classList.toggle('js-menuIsOpened')


        let scrollbarWidth = Number(
                                window.getComputedStyle(
                                document.querySelectorAll('.MainMenu-Icon')[0]).width.replace('px', '')) + scrollWidth - 7
        
        
        if(logoHolder.classList.contains('js-OpenedMenu')) {
            menuButton.style.width = scrollbarWidth + 'px'
            menuButtonFixed.style.width = scrollbarWidth + 'px'
        } else {
            menuButton.style.width = ''
            menuButtonFixed.style.width = ''
        }
        

    }

        window.addEventListener('load', function(){
  
        if (localStorage.getItem('menuIsOpened') == 'true') {
            console.log('true')
            openMenuHandler()
            localStorage.setItem('menuIsOpened', false)
        }
        
    })





</script>