==
<div class="SubcategoryListing-ItemCard">
    <a class="SubcategoryListing-ItemCard-Link jsCardWigetLink" href="/product/{{data.slug}}">
        <div class="SubcategoryListing-ItemCard-Holder">
            <div class="SubcategoryListing-ItemCard-ImageHolderWrapper">
                <div class="SubcategoryListing-ItemCard-ImageHolder">
                    <img class="SubcategoryListing-ItemCard-Image" src="{{data.picture | media}}">
                </div>
            </div>


            <div class="SubcategoryListing-ItemCard-Info">
                <h2 class="SubcategoryListing-ItemCard-Title">{{data.title}}</h2>
                <p class="SubcategoryListing-ItemCard-Description">{{data.description}}</p>
                <div class="SubcategoryListing-ItemCard-Price rus-currency">{{data.price}} ₽</div>
            </div>
        </div>


    </a>
</div>

<style>



</style>