<div class="CategoryMainBanner">
    <div class="CategoryMainBanner-Content desktop" style="background: url({{ mainCategoryBackground | media }}); background-size: 100%; background-repeat: no-repeat; background-size: cover">
        <div class="CategoryMainBanner-Content-Container" >
            <h1 class="CategoryMainBanner-Title">{{ categoryTitle }}</h1>
            <div class="CategoryMainBanner-SubTitle">
                <a href="#pads" class="CategoryMainBanner-SubTitle-Item">
                    pads
                </a>
                <span class="js-desktop"> /</span>
                <span class="js-mobile">
                </span>

                <a href="#patches" class="CategoryMainBanner-SubTitle-Item">patches</a><span class="js-desktop"> /</span>
                <a href="#masks" class="CategoryMainBanner-SubTitle-Item">masks</a>
            </div>
        </div>
        <div class="CategoryMainBanner-Content-Background" ></div>
    </div>
    <div class="CategoryMainBanner-Content mobile" style="background: url({{ mainCategoryBackgroundMobile | media }}); background-size: 100%; background-repeat: no-repeat; background-size: cover">
        <div class="CategoryMainBanner-Content-Container" >
            <h1 class="CategoryMainBanner-Title">{{ categoryTitle }}</h1>
            <div class="CategoryMainBanner-SubTitle">
                <a href="#pads" class="CategoryMainBanner-SubTitle-Item">
                    pads
                    <span class="js-mobile">
                    <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.0673 11.2018L14.7857 3.1106L17.2795 0.558068L30 12.9861L17.2795 25.4142L14.7857 22.8617L23.0673 14.7704L0.682477 14.7704L0.682477 11.2018L23.0673 11.2018Z" fill="white"/>
                    </svg>
                </span>
                </a>
                <a href="#patches" class="CategoryMainBanner-SubTitle-Item">
                    patches
                    <span class="js-mobile">
                    <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.0673 11.2018L14.7857 3.1106L17.2795 0.558068L30 12.9861L17.2795 25.4142L14.7857 22.8617L23.0673 14.7704L0.682477 14.7704L0.682477 11.2018L23.0673 11.2018Z" fill="white"/>
                    </svg>
                </span>
                </a>
                <a href="#masks" class="CategoryMainBanner-SubTitle-Item">
                    masks
                    <span class="js-mobile">
                    <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.0673 11.2018L14.7857 3.1106L17.2795 0.558068L30 12.9861L17.2795 25.4142L14.7857 22.8617L23.0673 14.7704L0.682477 14.7704L0.682477 11.2018L23.0673 11.2018Z" fill="white"/>
                    </svg>
                </span>
                </a>


            </div>
        </div>
        <div class="CategoryMainBanner-Content-Background" ></div>
    </div>


</div>

<style>

    .SubNavigationMenu-ScrollDown {
        cursor: pointer;
    }

    .CategoryMainBanner-Content.mobile {
        display: none;
    }

    .CategoryMainBanner-Content.desktop {
        display: block;
    }

    h1.CategoryMainBanner-Title {
        color: #fff;
        font-size: 50px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .CategoryMainBanner-SubTitle {
        font-size: 80px;
        line-height: 105px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
    }

    .CategoryMainBanner-SubTitle-Item {
        color: #fff;
        text-decoration: none;
        transition-duration: 500ms;
    }

    .CategoryMainBanner-SubTitle-Item:hover {
        color: #fff;
        opacity: 0.5;
        text-decoration: none;
    }

    .CategoryMainBanner {
        width: 100vw;
        height: 100vh;
    }

    .CategoryMainBanner-Content {
        width: 100%;
        height: 100%;
    }

    .CategoryMainBanner-Content-Container {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        z-index: 99;
        position: absolute;
        padding: 0 60px;
        align-items: flex-start;
        justify-content: center;
    }

    .CategoryMainBanner-Content-Background {
        width: 100%;
        height: 100%;
        background-size: contain;
        position: absolute;
        top: 0;
        background-repeat: no-repeat;
    }

    @media screen and (max-width: 768px) {

        .CategoryMainBanner-Content.mobile {
            display: block;
        }

        .CategoryMainBanner-Content.desktop {
            display: none;
        }


        .CategoryMainBanner-SubTitle {
            font-size: 40px;
            line-height: 60px;
            display: flex;
            flex-direction: column;
        }

        h1.CategoryMainBanner-Title {
            font-size: 40px;
            writing-mode: vertical-rl;
            transform: rotateZ(
                    180deg
            );
            color: #EA028A;
            margin: 48px 0;
        }

        .CategoryMainBanner-Content-Container {
            padding: 0 30px;
            width: 100%;
        }
    }

</style>


<script>

    var scrolledDown = false

    var bannerNode = document.querySelector('.CategoryMainBanner')
    bannerNode.addEventListener('wheel', function (e) {
        if (e.deltaY > 0 && scrolledDown == false) {
            scrolledDown = true
            scrollDown()
        } if (e.deltaY < 0) {
            scrolledDown = false
        }
    })
</script>