<div class="CategoryMainBanner">
    <div class="CategoryMainBanner-Content desktop" style="background: url({{ mainCategoryBackground | media }}); background-repeat: no-repeat; background-size: cover">
        <div class="CategoryMainBanner-Content-Container" >
            <h1 class="CategoryMainBanner-Title">{{ categoryTitle }}</h1>
            <div class="CategoryMainBanner-SubTitle">
                <a href="#pads" class="CategoryMainBanner-SubTitle-Item">
                    pads
                </a>
                <span class="js-desktop"> /</span>
                <span class="js-mobile">
                </span>

                <a href="#patches" class="CategoryMainBanner-SubTitle-Item">patches</a><br/><span class="js-desktop"> /</span>
                <a href="#masks" class="CategoryMainBanner-SubTitle-Item">masks</a>
            </div>
        </div>
        <div class="CategoryMainBanner-Content-Background" ></div>
    </div>
    <div class="CategoryMainBanner-Content mobile" style="background: url({{ mainCategoryBackgroundMobile | media }}); background-repeat: no-repeat; background-size: cover">
        <div class="CategoryMainBanner-Content-Container" >
            <h1 class="CategoryMainBanner-Title">{{ categoryTitle }}</h1>
            <div class="CategoryMainBanner-SubTitle">
                <a href="#pads" class="CategoryMainBanner-SubTitle-Item">
                    pads
                    <span class="js-mobile">
                    <div class="CategoryMainBanner-iconContainer">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 27.1" class="CategoryMainBanner-iconArrow">
                            <path d="M23.4 11.8l-7.9-7.7 2.4-2.4L30 13.5 17.9 25.4 15.5 23l7.9-7.7L2 15.2v-3.4h21.4z" fill-rule="evenodd" clip-rule="evenodd" />
                        </svg>
                    </div>
                </span>
                </a>
                <a href="#patches" class="CategoryMainBanner-SubTitle-Item">
                    patches
                    <span class="js-mobile">
                    <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.0673 11.2018L14.7857 3.1106L17.2795 0.558068L30 12.9861L17.2795 25.4142L14.7857 22.8617L23.0673 14.7704L0.682477 14.7704L0.682477 11.2018L23.0673 11.2018Z" fill="white"/>
                    </svg>
                </span>
                </a>
                <a href="#masks" class="CategoryMainBanner-SubTitle-Item">
                    masks
                    <span class="js-mobile">
                    <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.0673 11.2018L14.7857 3.1106L17.2795 0.558068L30 12.9861L17.2795 25.4142L14.7857 22.8617L23.0673 14.7704L0.682477 14.7704L0.682477 11.2018L23.0673 11.2018Z" fill="white"/>
                    </svg>
                </span>
                </a>


            </div>
        </div>
        <div class="CategoryMainBanner-Content-Background" ></div>
    </div>


</div>

<style>



</style>


<script>






</script>