[builderList subcategoryListing]
modelClass = "Iamk\Productinfo\Models\ProductInfo"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "sort"
==
{% set records = subcategoryListing.records %}
{% set displayColumn = subcategoryListing.displayColumn %}
{% set noRecordsMessage = subcategoryListing.noRecordsMessage %}
{% set detailsPage = subcategoryListing.detailsPage %}
{% set detailsKeyColumn = subcategoryListing.detailsKeyColumn %}
{% set detailsUrlParameter = subcategoryListing.detailsUrlParameter %}


<div class="SubcategoryListing">
    <div class="SubcategoryListing-Title">{{subcategoryTitle}}<span class="SubcategoryListing-Title-Asterisk">*</span></div>
    <div class="SubcategoryListing-Items">




        {% for record in records %}
        {% if record.subcategory == subcategorySlug %}
        {% partial "en/category/card-wiget" data=record %}
        {% endif %}
    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}



    </div>
</div>

<style>



</style>