@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType-ExtraLight.eot');
    src: local('Brutal Type Extra Light'), local('BrutalType-ExtraLight'),
        url('../fonts/BrutalType-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrutalType-ExtraLight.woff2') format('woff2'),
        url('../fonts/BrutalType-ExtraLight.woff') format('woff'),
        url('../fonts/BrutalType-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType-Medium.eot');
    src: local('Brutal Type Medium'), local('BrutalType-Medium'),
        url('../fonts/BrutalType-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrutalType-Medium.woff2') format('woff2'),
        url('../fonts/BrutalType-Medium.woff') format('woff'),
        url('../fonts/BrutalType-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType-Bold.eot');
    src: local('Brutal Type Bold'), local('BrutalType-Bold'),
        url('../fonts/BrutalType-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrutalType-Bold.woff2') format('woff2'),
        url('../fonts/BrutalType-Bold.woff') format('woff'),
        url('../fonts/BrutalType-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType-Thin.eot');
    src: local('Brutal Type Thin'), local('BrutalType-Thin'),
        url('../fonts/BrutalType-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrutalType-Thin.woff2') format('woff2'),
        url('../fonts/BrutalType-Thin.woff') format('woff'),
        url('../fonts/BrutalType-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType-ExtraBold.eot');
    src: local('Brutal Type Extra Bold'), local('BrutalType-ExtraBold'),
        url('../fonts/BrutalType-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrutalType-ExtraBold.woff2') format('woff2'),
        url('../fonts/BrutalType-ExtraBold.woff') format('woff'),
        url('../fonts/BrutalType-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType-Black.eot');
    src: local('Brutal Type Black'), local('BrutalType-Black'),
        url('../fonts/BrutalType-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrutalType-Black.woff2') format('woff2'),
        url('../fonts/BrutalType-Black.woff') format('woff'),
        url('../fonts/BrutalType-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType-Light.eot');
    src: local('Brutal Type Light'), local('BrutalType-Light'),
        url('../fonts/BrutalType-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrutalType-Light.woff2') format('woff2'),
        url('../fonts/BrutalType-Light.woff') format('woff'),
        url('../fonts/BrutalType-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brutal Type';
    src: url('../fonts/BrutalType.eot');
    src: local('Brutal Type'), local('BrutalType'),
        url('../fonts/BrutalType.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrutalType.woff2') format('woff2'),
        url('../fonts/BrutalType.woff') format('woff'),
        url('../fonts/BrutalType.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    font-family: sans-serif;
  }
}

body {
    margin: 0 auto !important;
    min-height: -webkit-fill-available;
}

@media(min-width: 768px){
    body {
    overflow-x: hidden;
}
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

body.js-bodyMenuIsOpened {
    overflow: hidden;
}





/* HEADER */

.SubNavigationMenu-ScrollDown-mobile {
    opacity: 0;
}



a.LogoLink {
    display: inline-block;
    width: 190px;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 0;
    transition-duration: 400ms;
    cursor: pointer;
}

.LogoLink.js-menuIsOpened {
    color: #222;
    transition-duration: 400ms;
}

a.LogoLink:hover {
    color: #EA028A;
}

.LogoSvg{
    display: inline-block;
    fill: currentColor;
    vertical-align: top;
    width: 100%;   
}

@media(max-width:642px){
    a.LogoLink {
        width: 141px;
    }  
}

.MainLogoFixed a.LogoLink{
    width: 141px;
    color: #222;
}

@media(max-width:1336px){
   .MainLogoFixed a.LogoLink{
    width: 131px;
    } 
}

/* .LogoSvgFixed > path {
    fill: #222;
    transition-duration: 400ms;
} */

header.MainHeader {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    height: 150px;
    z-index: 999;
}

.LogoLink-svg{
  display: inline-block;
  fill: currentColor;
  vertical-align: top;
  width: 100%;   
}

@media(max-width:1180px){
    header.MainHeader {
    padding: 15px;
    }    
}

@media(max-width:642px){
    header.MainHeader {
    padding: 0;
}    
}

header.MainHeaderFixed {
    position: fixed;
    width: 100%;
    height: 70px;
    top: -70px;
    z-index: 999;
    background-color: white;
    transition-duration: 400ms;
}

@media(max-width:1366px){
    header.MainHeaderFixed {
        height: 60px;
    }    
}

header.MainHeaderFixed.jsScrolled {
    top: 0;
    transition-duration: 400ms;
}

.MainHeader-Content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
}

.MainLogo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.MainMenu {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    z-index: 999;
    padding: 0 0  0 32px;
    cursor: pointer;
}

@media(max-width:1180px){
   .MainMenu {
    padding-left: 0;
    }     
}

.MainMenu-Icon.MainMenu-Icon-Fixed {
    height: 16px;
    width: 25px;
    cursor: pointer;
}


.MainMenu-Icon.MainMenu-Icon-Fixed::before {
    width: 25px;
    height: 4px;
    content: '';
    background-color: #222;
    position: absolute;
    transition-duration: 400ms;
}

.MainMenu-Icon.MainMenu-Icon-Fixed::after {
    width: 25px;
    height: 4px;
    content: '';
    background-color: #222;
    position: absolute;
    top: 43px;
    transition-duration: 400ms;
}

@media(max-width:1366px){
    .MainMenu-Icon.MainMenu-Icon-Fixed::after {
    top: 37.5px;
    }    
}

.MainMenu-Icon.MainMenu-Icon-Fixed.js-menuIsOpened::before {
    background-color: black;
    transform: rotate(
            45deg
    ) translate(2px, 9px);
    transition-duration: 400ms;

}
.MainMenu-Icon.MainMenu-Icon-Fixed.js-menuIsOpened::after {
    background-color: black;
    transform: rotate(
            -43deg
    ) translate(2px, -9px);
    transition-duration: 400ms;
}

.MainMenu-Icon {
    width: 30px;
    height: 22px;
    cursor: pointer;
    transition-duration: 400ms;
}



.MainMenu-Icon::before {
    width: 30px;
    height: 4px;
    content: '';
    background-color: #fff;
    position: absolute;
    transition-duration: 400ms;
}

.MainMenu-Icon::after {
    width: 30px;
    height: 4px;
    content: '';
    background-color: #fff;
    position: absolute;
    top: 82px;
    transition-duration: 400ms;
}

.MainMenu-Icon.js-menuIsOpened::before {
    background-color: black;
    transform: rotate(
            45deg
    ) translate(4px, 10px);
    transition-duration: 400ms;

}
.MainMenu-Icon.js-menuIsOpened::after {
    background-color: black;
    transform: rotate(
            -45deg
    ) translate(3px, -9px);
    transition-duration: 400ms;
}

.MainMenu-Icon:hover::before,
.MainMenu-Icon:hover::after{
    background-color: #EA028A;
}

@media(max-width:642px){
    .MainMenu-Icon:hover::before,
    .MainMenu-Icon:hover::after{
        background-color: #fff;
    }
    
    .MainMenu-Icon:active::before,
    .MainMenu-Icon:active::after{
        background-color: #EA028A;
    } 
}

.LogoAsterisk {
    fill: #EA028A !important;
}

@media screen and (max-width: 767px) {
    .MainMenu-Icon:hover::before,
    .MainMenu-Icon:hover::after {
        opacity: 1;
    }
}

@media screen and (max-width: 1180px){
    .SubNavigationMenu-ScrollDown {
    display: none;
    cursor: pointer;
    }
    
    .SubNavigationMenu-ScrollDown-mobile {
    color: #FFFFFF;
    opacity: 1;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    cursor: pointer;
    }
}





@media screen and (max-width: 767px){


    .MainMenu-Icon {
        width: 24px;
        height: 16px;
        cursor: pointer;
    }

    .MainMenu-Icon::before {
        width: 24px;
        height: 4px;
        content: '';
        background-color: #fff;
        position: absolute;
        transition-duration: 400ms;
    }

    .MainMenu-Icon::after {
        width: 24px;
        height: 4px;
        content: '';
        background-color: #fff;
        position: absolute;
        top: 40px;
        transition-duration: 400ms;
    }

    .MainMenu-Icon.js-menuIsOpened::before {
        background-color: black;
        transform: rotate(
                45deg
        ) translate(2px, 7px);
        transition-duration: 400ms;

    }
    .MainMenu-Icon.js-menuIsOpened::after {
        background-color: black;
        transform: rotate(
                -45deg
        ) translate(1px, -7px);
        transition-duration: 400ms;
    }


    header.MainHeader {
        height: 72px;
    }

    .MainMenu-Icon.MainMenu-Icon-Fixed::after {
        top: 30px;
    }

    .MainMenu-Icon.MainMenu-Icon-Fixed.js-menuIsOpened::before {
        background-color: black;
        transform: rotate(
                45deg
        ) translate(0px, 7px);
        transition-duration: 400ms;
    }

    header.MainHeaderFixed {
        height: 50px;
        top: -70px;
    }

    .MainMenu {
        padding: 0 0  0 32px;
    }
    .MainHeader-Content {
        padding: 0 30px;
    }
}

@media(max-width:642px){
    .SubNavigationMenu-ScrollDown-mobile {
        font-size: 12px;
    }
    
    .MainMenu-Icon::after {
        top: 37px;
    }
    
    .MainMenu-Icon.MainMenu-Icon-Fixed:hover::before, .MainMenu-Icon.MainMenu-Icon-Fixed:hover::after {
    background-color: #222
    }
    
}




/*HEADER FIXED*/

.MainHeaderFixed-Subcategory {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: center;
}

@media(max-width:1180px){
     .MainHeaderFixed-Subcategory {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        justify-content: flex-start;
    }   
}

.MainHeaderFixed-Subcategory.js-OpenedMenu {
    display: none;
}

.MainLogo.MainLogoFixed.js-OpenedMenu {
    display: flex;
}

a.MainHeaderFixed-Subcategory-Item {
    font-size: 30px;
    font-weight: 500;
    color: #222;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 25px;
    transition-duration: 400ms;
}

a.MainHeaderFixed-Subcategory-Item:hover {
    color: #EA028A;
}

@media screen and (max-width: 1919px) {
    a.MainHeaderFixed-Subcategory-Item {
        font-size: 25px;
    }
}

@media screen and (max-width: 1180px) {
    .MainLogo.MainLogoFixed {
        margin-right: 42px;
    }
}


@media screen and (max-width: 767px) {
    .MainLogo.MainLogoFixed {
        display: none;
    }
    a.MainHeaderFixed-Subcategory-Item {
        font-size: 18px;
        color: #222;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 25px 0 0;
    }
    
    a.MainHeaderFixed-Subcategory-Item:hover {
    color: #000 !important;
    }
    
    a.MainHeaderFixed-Subcategory-Item:active {
    color: #EA028A !important;
    }
}

@media screen and (max-width: 642px) {
    a.MainHeaderFixed-Subcategory-Item {
        font-weight: 700 !important;
    }
}


/*MAIN BANNER*/


.MainHomeBanner-categoryLeftScreen-contentItem {
    color: white;
}

.MainHomeBanner-Content-LinkArrow-Left {
    display: none;
}

.MainHomeBanner {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    display: block;
    width: 100vw;
    position: absolute;
    z-index: 99;
    overflow: hidden;
}

.MainHomeBanner-Content {
    display: flex;
    width: 100%;
    height: 100%;
}

.MainHomeBanner-Content-Links {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
    display: flex;
}

.MainHomeBanner-Content-LinkHolder {
    width: 50%;
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition-duration: 500ms;
    cursor: pointer;
}

.MainHomeBanner-Content-LinkHolder--left .MainHomeBanner-Content-LinkArrow {
    display: inline-block;
    /* opacity: 0; */
    height: 72px;
    width: auto;
    margin-right: -40px;
    transition-duration: 400ms;
/*     margin-bottom: 7px;
 */}

.MainHomeBanner-Content-LinkHolder--right .MainHomeBanner-Content-LinkArrow {
    display: inline-block;
   /*  opacity: 0; */
    height: 72px;
    width: auto;
    margin-left: -40px;
    transition-duration: 400ms;
    transform: rotate(180deg);
    margin-bottom: 7px;
}

.MainHomeBanner-Content-LinkArrowImg {
    width: 65px;
}

.MainHomeBanner-Content-LinkHolder--left:hover {
    color: #EA028A;
    transition-duration: 800ms;
}

.MainHomeBanner-Content-LinkHolder--left:hover .MainHomeBanner-Content-LinkArrow {
    opacity: 1;
    margin-right: -28px;
    transition-duration: 800ms;
}

.MainHomeBanner-Content-LinkHolder--right:hover .MainHomeBanner-Content-LinkArrow {
    opacity: 1;
    margin-left: -28px;
    transition-duration: 800ms;
}

.MainHomeBanner-Content-LinkHolder--right:hover {
    color: #EA028A;
    transition-duration: 800ms;
}

/* .MainHomeBanner-Content-LinkHolder--left:hover .MainHomeBanner-Content-LinkArrow {
    color: #EA028A;
    transition: 400ms;
} */


.MainHomeBanner-arrowIcon {
    fill-opacity: 0;
    display: inline-block;
    fill: #fff;
    color: inherit;
    height: 100%;
    vertical-align: top;
    transition:all ease 800ms;
}

.MainHomeBanner-Content-LinkHolder--right:hover > .MainHomeBanner-Content-LinkArrow > .MainHomeBanner-arrowIcon {
    fill-opacity: 1;
    fill: #EA028A;
    
}

.MainHomeBanner-Content-LinkHolder--left:hover > .MainHomeBanner-Content-LinkArrow > .MainHomeBanner-arrowIcon {
    fill-opacity: 1;
    fill: #EA028A;
}

.MainHomeBanner-Content-LinkItem {
    font-weight: 500;
    font-size: 100px;
    padding: 50px;
}

.MainHomeBanner-Content-Slash {
    font-weight: 500;
    font-size: 80px;
}

.MainHomeBanner-Content-SlashHolder {
    color: #fff;
    display: flex;
    align-items: center;
}

.MainHomeBanner-Content-LinkHolder--left {
    justify-content: flex-end;
}

@media(max-width:1180px) {
    .MainHomeBanner-Content-LinkHolder--left {
        justify-content: center;
    }
}

.MainHomeBanner-Content-LinkHolder--right {
    justify-content: flex-start;
}

@media(max-width:1180px) {
    .MainHomeBanner-Content-LinkHolder--right {
        justify-content: center;
    }
}

.MainHomeBanner-Content-Background {
    width: 100%;
    position: relative;
}

.MainHomeBanner-Content-BackgroundMobile {
    display: none;
}

@media(max-width:1180px) {
    .MainHomeBanner-Content-BackgroundMobile {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@media(max-width:642px) {
    .MainHomeBanner-Content-BackgroundMobile {
        background-size: auto 280vw !important;
        background-position: 246.5vw -70vw !important;
    }
}

.MainHomeBanner-Content-BackgroundLeftScreen {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 50%;
    z-index: 2;
}

@media(max-width:1180px) {
    .MainHomeBanner-Content-BackgroundLeftScreen {
        display: none;
    }
}

.MainHomeBanner-Content-BackgroundLeftScreenContent {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 50%;
    z-index: 3;
}

@media(max-width:1180px) {
    .MainHomeBanner-Content-BackgroundLeftScreenContent {
        display: none;
    }
}

.MainHomeBanner-Content-BackgroundRightScreen {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

@media(max-width:1180px) {
    .MainHomeBanner-Content-BackgroundRightScreen {
        display: none;
    }
}

.MainHomeBanner-Content-BackgroundRightScreenContent {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 3;
}

@media(max-width:1180px) {
    .MainHomeBanner-Content-BackgroundRightScreenContent {
        display: none;
    }
}

@keyframes left-bg-color-action {
    0% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

@keyframes right-bg-color-action {
    0% {
        left: 50%;
        right: 0;
    }

    100% {
        left: 0;
        right: 0;
    }
}

@keyframes left-content-action {
    0% {
        width: 50%;
        background-size: auto 80vw;
        background-position: 11.8vw -12vw;
    }

    100% {
        width: 100%;
        background-size: auto 100vh;
        background-position: 3vw 0vh;
    }
}

@keyframes right-content-action {
    0% {
        width: 50%;
        left: 50%;
        background-size: auto 80vw;
        background-position: -38.2vw -12vw;
    }

    100% {
        width: 100%;
        left: 0;
        background-size: auto 100vh;
        background-position: 45vw 0vh;
    }
}

.MainHomeBanner-Content-BackgroundLeftScreenAnimation {
    animation-name: left-bg-color-action;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 4;
    transform: translateZ(0);
}

.MainHomeBanner-Content-BackgroundLeftScreenContentAnimation {
    animation-name: left-content-action;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 5;
    transform: translateZ(0);
}

.MainHomeBanner-Content-BackgroundRightScreenAnimation {
    animation-name: right-bg-color-action;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 4;
    transform: translateZ(0);
}

.MainHomeBanner-Content-BackgroundRightScreenContentAnimation {
    animation-name: right-content-action;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 5;
    transform: translateZ(0);
}

.MainHomeBanner-Content-LinkHolder--delete {
    display: none;
}

.MainHomeBanner-Content-LinkHolder--hided {
    animation-name: hided;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes hided {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 1366px) {
    .MainHomeBanner-Content-LinkItem {
        font-size: 80px;
    }
}

@media screen and (max-width: 1180px) {

    .MainHomeBanner-Content-LinkItem {
        display: flex;
        align-items: center;
    }

    .MainHomeBanner-Content-LinkArrow {
        display: none !important;
    }

    .MainHomeBanner-Content-Links {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 4vh;
    }

    .MainHomeBanner-Content-Slash {
        display: none;
    }

    a.MainHomeBanner-Content-LinkHolder {
        width: 100%;
        justify-content: center;
    }

    .MainHomeBanner-Content-LinkItem {
        padding: 0 12px;
        font-size: 75px;
    }

    .MainHomeBanner-Content-LinkHolder--right {
        padding-bottom: 1vh;
    }

    .MainHomeBanner-Content-LinkArrowImg {
        width: 36px;
    }
}

@media(max-width:642px){
    .MainHomeBanner-Content-LinkHolder--right {
        padding-bottom: 5vh;
    }
    
    .MainHomeBanner-Content-Links {
        padding-bottom: 1vh;
    }
}



.MainHomeBanner-categoryLeftScreen {
    display: none;
    opacity: 0;
    width: 60%;
    height: 100%;
    z-index: 7;
    margin-left: 200px;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

@media(max-width:1366px){
    .MainHomeBanner-categoryLeftScreen {
        margin-left: 60px;
    }
    
    .MainHomeBanner-categoryRightScreen{
       margin-right: 70px !important;     
    }
}

.MainHomeBanner-categoryRightScreen {
    right: 0;
    height: 100%;
    display: none;
    opacity: 0;
    width: 60%;
    height: 100%;
    z-index: 7;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 210px;
}
    



.MainHomeBanner-categoryLeftScreen-title {
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
}

@media(max-width:1366px){
   .MainHomeBanner-categoryLeftScreen-title {
    font-size: 50px;
    }
}     


.MainHomeBanner-categoryLeftScreen-content {
    color: #fff;
    font-size: 100px;
    line-height: 110px;
    font-weight: 500;
    text-transform: uppercase;
}

.MainHomeBanner-categoryRightScreen .MainHomeBanner-categoryLeftScreen-content{
    text-align: right;    
}

@media(max-width:1366px){
   .MainHomeBanner-categoryLeftScreen-content {
    font-size: 80px;
    line-height: 90px;
}     
}

.MainHomeBanner-categoryLeftScreen-contentItem {
    text-decoration: none;
    transition: color ease-out 0.5s;
    cursor: pointer;
}

.MainHomeBanner-categoryLeftScreen-contentItem:hover {
    color: #EA028A;
}

.MainHomeBanner-categoryLeftScreen-contentItem:focus {
    color: #FFF;
}

.MainHomeBanner-categoryScreenAppearance {
    animation-name: appearance;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.MainHomeBanner-categoryScreenExisting {
    display: flex;
}

@keyframes appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media(max-width: 1180px) {
    .MainHomeBanner-Content-LinkItem {
        font-size: 60px;
    }

    .MainHomeBanner-Content-LinkItem {
        font-size: 60px;
    }
}

.MainHomeBanner-Content-LinkHolderDiv {}

@media(max-width:1180px) {
    .MainHomeBanner-Content-LinkHolderDiv {
        display: none;
    }
}

.MainHomeBanner-Content-LinkHolderLink {
    display: none;
}

@media(max-width:1180px) {
    .MainHomeBanner-Content-LinkHolderLink {
        display: flex;
    }
}

@media screen and (max-width: 1180px) {

    .MainHomeBanner-Content-LinkArrow-Left {
        display: block;
        width: 56px;
        height: 48px;
        margin-bottom: 6px;
    }

    .MainHomeBanner-Content-LinkArrow-Right {
        display: block;
        width: 56px;
        height: 48px;
        transform: rotate(180deg);
        margin-bottom: 6px;
    }

    .MainHomeBanner-Content-LinkItem {
        font-size: 75px;
        line-height: 110px;
    }
}

@media screen and (max-width: 642px) {

    .MainHomeBanner-Content-LinkArrow-Left {
        display: block;
        width: 30px;
        height: 30px;
        margin-bottom: 4px;
    }

    .MainHomeBanner-Content-LinkArrow-Right {
        display: block;
        width: 30px;
        height: 30px;
        margin-bottom: 4px;
    }
    
    .MainHomeBanner-Content-LinkItem {
        font-size: 40px;
        line-height: 58px;
    }
}


/*MENU DRAWER*/

sup {
    font-weight: 500;
    font-size: 25px;
    top: -1em;
    left: -2px;
}


.SubNavigationMenu {
    width: 100vw;
    padding: 0 70px;
    height: 70px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    z-index: 900;
}

@media(max-width:1366px){
    .SubNavigationMenu {
        padding: 0 70px;
    }    
}

@media(max-width:1180px){
    .SubNavigationMenu {
    padding: 0 48px;
    }    
}

.SubNavigationMenu.SubNavigationMenu-Fixed {
    position: fixed;
    z-index: 1300;
    padding: 0 35px;
}

@media(max-width:1180px){
    .SubNavigationMenu.SubNavigationMenu-Fixed {
        display: flex;
        justify-content: center;
    }    
}

@media(max-width:642px){
    .SubNavigationMenu.SubNavigationMenu-Fixed {
        display: flex;
        justify-content: flex-start;
    }    
}


.SubNavigationMenu-ChangeLanguage {
/*     min-width: 75px; */
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

@media(max-width:1180px){
    .SubNavigationMenu-ChangeLanguage {
        display: none;
    }
    
    .MainMenuDrawer .SubNavigationMenu-ChangeLanguage {
        display: flex;
    }
}

@media(max-width:642px){
    .SubNavigationMenu {
    padding: 0 42px;
}

    .SubNavigationMenu-ChangeLanguage {
    min-width: 75px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    }
   
}

@media(max-width: 642px){
    .jsDesktop {
        display: none;
    }    
}

a.SubNavigationMenu-LanguageItem {
    color: #ffffff82;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
    transition-duration: 500ms;
}

a.SubNavigationMenu-LanguageItem:last-child {
    margin-right: 0;
}

a.SubNavigationMenu-LanguageItem:hover {
    color: #EA028A;
}


a.SubNavigationMenu-LanguageItem.LanguageItem-active {
    color: #ffffff;
    text-decoration: none;
}

.LanguageItem-disabled:hover {
    color: #EA028A !important;
}

a.SubNavigationMenu-LanguageItem.LanguageItem-dark {
    color: #00000082;
    text-decoration: none;
}

a.SubNavigationMenu-LanguageItem.LanguageItem-dark:hover {
    color: #EA028A;
}

a.SubNavigationMenu-LanguageItem.LanguageItem-dark.LanguageItem-active {
    color: #000000;
    text-decoration: none;
}


.MainMenuDrawer-Item-Category {
    font-size: 70px;
    font-weight: 500;
    text-transform: uppercase;
}

.MainMenuDrawer-Item-Category:hover {
    color: #EA028A;
}

a.MainMenuDrawer-Item-Subcategory {
    text-decoration: none;
    color: #222;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    transition-duration: 500ms;
    
}

a.MainMenuDrawer-Item-Subcategory:last-child{
    margin-bottom: 20px;    
}

a.MainMenuDrawer-Item-Subcategory:hover {
    color: #EA028A;
}

.MainMenuDrawer-Item-Subcategories{
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition-duration: 400ms;
    margin-bottom: 30px;
}
.MainMenuDrawer-Items{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #222;
}

.MainMenuDrawer-Item {
    cursor: pointer;
}

.MainMenuDrawer {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    opacity: 0;
    z-index: -555;
    transition-duration: 400ms;
    position: fixed;
}
.MainMenuDrawer.js-menuIsOpened {
    z-index: 990;
    opacity: 1;
    transition-duration: 400ms;
}

@media screen and (max-width: 1920px) {
    .MainMenuDrawer-Item-Category {
        font-size: 90px;
        line-height: 132px;
    }
    a.MainMenuDrawer-Item-Subcategory{
        line-height: 78px;
    }
}

@media screen and (max-width: 1366px) {
    .MainMenuDrawer-Item-Category {
        font-size: 70px;
        line-height: 110px;
    }
    a.MainMenuDrawer-Item-Subcategory {
        font-size: 30px;
        line-height: 68px;
    }
    
    a.MainMenuDrawer-Item-Subcategory:first-child {
        margin-top: 20px;
        /* font-size: 30px;
        line-height: 68px; */
    }
}


@media(max-width: 414px) {

    sup {
        font-size: 18px;
        top: -0.7em;
    }

    .SubNavigationMenu {
        padding: 30px;
        height: 58px;
        padding-left: 37px;
    }

    .MainMenuDrawer-Item-Category {
        font-size: 50px;
        line-height: 42px;
        font-weight: 500;
        text-transform: uppercase;
    }
    a.MainMenuDrawer-Item-Subcategory {
        text-decoration: none;
        color: black;
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 8px;
        line-height: 44px;

    }
    .MainMenuDrawer-Items{
        width: 100%;
        padding: 45px 30px 30px;
        height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        color: black;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: 0 auto;
    }
}



/* CATEGORY MAIN BANNER */
.SubNavigationMenu-ScrollDown {
    cursor: pointer;
}

.CategoryMainBanner-Content.mobile {
    display: none;
}

.CategoryMainBanner-Content.desktop {
    display: block;
}

h1.CategoryMainBanner-Title {
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
}

@media(max-width:1366px){
    h1.CategoryMainBanner-Title {
        font-size: 50px;
    }    
}

.CategoryMainBanner-SubTitle {
    font-size: 100px;
    line-height: 110px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

@media(max-width:1366px){
    .CategoryMainBanner-SubTitle {
    font-size: 80px;
    line-height: 90px;
}    
}

.CategoryMainBanner-SubTitle-Item {
    color: #fff;
    text-decoration: none;
    transition-duration: 500ms;
}

a.CategoryMainBanner-SubTitle-Item:visited{
    color: #fff !important;
}

a.CategoryMainBanner-SubTitle-Item:focus{
    color: #fff !important;
}

.CategoryMainBanner-SubTitle-Item:visited{
    color: #fff;
}

a.CategoryMainBanner-SubTitle-Item:hover {
    color: #EA028A !important;
    text-decoration: none;
}

@media(max-width:1180px){
    .CategoryMainBanner-SubTitle-Item {
        display: flex;
        align-items: center;
        }
        
    .CategoryMainBanner-SubTitle-Item:hover {
        color: #fff;
    }
    
    .CategoryMainBanner-SubTitle-Item:active {
        color: #EA028A;
    }
}

.CategoryMainBanner {
    width: 100vw;
    height: 100vh;
}

@media(max-width:642px){
   .CategoryMainBanner {
        height: calc(var(--vh, 1vh) * 100);
    }     
}

.CategoryMainBanner-Content {
    position: relative;
    width: 100%;
    height: 100%;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

.CategoryMainBanner-Content-Container {
    width: 60%;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 99;
    padding-left: 200px;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
}

@media(max-width:1646px){
    .CategoryMainBanner-Content-Container {
        width: 78%;
    }
}

@media(max-width:1366px){
    .CategoryMainBanner-Content-Container {
        padding-left: 68px;
    }
}

.CategoryMainBanner-Content-Background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.CategoryMainBanner-Content-BackgroundContent{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;    
}

@media screen and (max-width: 1180px) {

    .CategoryMainBanner-Content.mobile {
        display: block;
    }

    .CategoryMainBanner-Content.desktop {
        display: none;
    }


    .CategoryMainBanner-SubTitle {
        display: flex;
        flex-direction: column;
        margin-left: 6px;
    }

    h1.CategoryMainBanner-Title {
        font-size: 70px;
        line-height: 70px;
        writing-mode: vertical-rl;
        transform: rotateZ(
                180deg
        );
        color: #EA028A;
        margin: 48px 0;
    }

    .CategoryMainBanner-Content-Container {
        padding: 0 35px;
/*         padding-left: 60px; */
        width: 100%;
    }
}

@media(max-width:642px){
    .CategoryMainBanner-SubTitle {
        font-size: 40px;
        line-height: 60px;
        margin-left: 10px;
    }
    
    .CategoryMainBanner-Content-Container {
        padding-left: 24px;
    }
    
    h1.CategoryMainBanner-Title {
        font-size: 40px;
        line-height: 40px;
        margin: 20px 0;
        padding-right: 6px;
    }
}




/* SUBCATEGORY BANNER */

.SubcategoryBanner-Content-ContainerTablet,
.SubcategoryBanner-Content-ContainerMobile {
    display: none;
}

.SubcategoryBanner-SubTitle-Marked {
    color: #EA028A;
}

.SubcategoryBanner {
    position: relative;
    width: 100%;
}

.SubcategoryBanner-idLink {
    top: -60px;
    width: 20px;
    height: 20px;
    position: absolute;
}

@media(max-width:642px){
     .SubcategoryBanner-idLink {
        top: -50px;
    }  
}


/* @media(max-width:1366px){
  .SubcategoryBanner {
    min-height: 420px;
}      
}

@media(max-width:1280px){
  .SubcategoryBanner {
    min-height: 315px;
}      
} */

.SubcategoryBanner-Content-Container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    min-height: 30.74889vw;
}

.SubcategoryBanner-SubTitle {
    padding: 0 0 50px 9%;
    font-size: 60px;
    line-height: 78px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    width: 100%;
    max-width: 650px;
    display: inline-block;
    box-sizing: content-box;
}
@media screen and (max-width: 1366px) {

    .SubcategoryBanner-Content-Container {
    min-height: 30.75vw;
    }

    .SubcategoryBanner-SubTitle {
        padding: 0 0 50px 9%;
    }
}

@media(max-width: 1180px) {
    .SubcategoryBanner-Content-Container {
        min-height: 65.1vw;
        background-size: cover  !important;
    }

    .SubcategoryBanner-SubTitle {
        font-size: 38px;
        line-height: 49px;
        max-width: 425px
    }
}

@media(max-width: 1180px) {

    .SubcategoryBanner-Content-Container {
        display: none;
    }

    .SubcategoryBanner-Content-ContainerTablet {
        min-height:  65.1vw;
        align-items: flex-end;
        display: flex;
        background-size: cover  !important;
    }

    .SubcategoryBanner-SubTitle {
        padding: 0 0 70px 92px;
        font-size: 35px;
        line-height: 45px;
        max-width: 400px;
        display: inline-block;
        margin: 0;
    }
}

@media(max-width: 642px) {
.SubcategoryBanner-Content-Container,
.SubcategoryBanner-Content-ContainerTablet{
    display: none !important;
}

.SubcategoryListing-Title {
    display: none;
}

    h3.SubcategoryBanner-Title {
        font-size: 55px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
    }

    .SubcategoryBanner-Title::after {
        content: '*';
        position: absolute;
        color: #EA028A;
    }

    .SubcategoryBanner-SubTitle {
        font-size: 20px;
        line-height: 26px;
        max-width: 315px;
        width: 315px;
        text-align: center;
        min-height: auto;
        padding: 0 16px;
    }
}

@media(max-width:642px){
        .SubcategoryBanner-Content-ContainerMobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        min-height: 120vw;
        padding: 30px 0;
    }    
}



/* SUBCATEGORY LISTING */

section#layout-content {
    overflow-x: hidden;
}

.SubcategoryListing {
    width: 82%;
    margin: 0 auto;
    overflow: hidden;
}

@media(max-width:1080px){
    .SubcategoryListing {
    width: calc(100vw - 180px);
    }
}

.SubcategoryListing-Items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 250px;
    margin: -70px 0;
}

@media(max-width:1366px){
   .SubcategoryListing-Items {
    padding-bottom: 195px;
    margin: -35px 0;
}     
}

@media(max-width:1180px){
   .SubcategoryListing-Items {
    padding-bottom: 170px;
    margin: -30px 0;
}     
}

.SubcategoryListing-Title {
    font-size: 100px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    margin: 80px 0;
}

.SubcategoryListing-Title-Asterisk {
    color: #EA028A;
}


/* @media screen and (max-width: 1919px) {
    .SubcategoryListing-Title {
        font-size: 90px;
    }
} */

@media screen and (max-width: 1366px) {
    .SubcategoryListing-Title {
        font-size: 90px;
         margin: 60px 0;
    }
}

@media screen and (max-width: 1180px) {
    .SubcategoryListing-Title {
        font-size: 80px;
         margin: 60px 0;
    }
}

@media screen and (max-width: 1024px) {
    .SubcategoryListing-Title {
        font-size: 80px;
         margin: 60px 0 80px;
    }
}


@media screen and (max-width: 767px) {
    .SubcategoryListing-Title {
         margin: 60px 0 80px;
    }

    .SubcategoryListing {
        width: 72%;
        margin: 0 auto;
    }

    .SubcategoryListing-Items {
        padding: 60px 0 100px;
    }
}

@media(max-width:642px){
   .SubcategoryListing-Items {
    padding-bottom: 165px;
    margin: -25px 0;
    }     
}


/* CARD WIGET */
/* .rus-currency::after {
    content: ' ₽';
    white-space: pre;
    position: absolute;
} */


.SubcategoryListing-ItemCard {
    width: 26%;
    text-align: center;
    color: #222;
    text-transform: uppercase;
    padding: 70px 0;
}

@media(max-width:1366px){
    .SubcategoryListing-ItemCard {
    padding: 35px 0;
    }
}

@media(max-width:1180px){
    .SubcategoryListing-ItemCard {
    padding: 30px 0;
    }
}

h2.SubcategoryListing-ItemCard-Title {
    color: inherit;
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
    color: #222;
}

@media(max-width:1366px){
    h2.SubcategoryListing-ItemCard-Title {
    font-size: 25px;
    line-height: 32px;
}
    
}


p.SubcategoryListing-ItemCard-Description {
    color: #222;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

@media(max-width:1366px){
    p.SubcategoryListing-ItemCard-Description {
    font-size: 14px;
    line-height: 19px;
}
}

.SubcategoryListing-ItemCard-Price {
    color: #222;
    font-size: 25px;
    font-weight: 500;
}

.SubcategoryListing-ItemCard-ImageHolderWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}

.SubcategoryListing-ItemCard-ImageHolder {
    max-width: 350px;
}

@media(max-width:1366px){
    .SubcategoryListing-ItemCard-ImageHolder {
    max-width: 250px;
}    
}

@media(max-width:642px){
    .SubcategoryListing-ItemCard-ImageHolder {
    width: 215px;
    max-width: 300px;
}    
}

img.SubcategoryListing-ItemCard-Image {
    width: 100%;
}

a.SubcategoryListing-ItemCard-Link {
    display: block;
    text-decoration: none;
    transition-duration: 400ms;
}

a.SubcategoryListing-ItemCard-Link:hover {
    color: #EA028A;    
}

@media screen and (max-width: 1365px) {
    .SubcategoryListing-ItemCard {
        width: 42%;
        text-align: center;
        color: #222;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 642px) {
    .SubcategoryListing-ItemCard {
        width: 100%;
        text-align: center;
        color: #222;
        text-transform: uppercase;
        padding: 25px 0;
    }

}

.SubcategoryListing-ItemCard-Info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.SubcategoryListing-ItemCard-Link:hover > .SubcategoryListing-ItemCard-Holder > .SubcategoryListing-ItemCard-Info > * {
    color: #EA028A;
    transition-duration: 400ms;
    }
    

.SubcategoryListing-ItemCard-Description{
        max-width: 350px;
}

@media(max-width:1366px){
     .SubcategoryListing-ItemCard-Description{
        width: 250px;
        max-width: 250px;
    }   
}

@media(max-width:642px){
     .SubcategoryListing-ItemCard-Description{
        width: 270px;
        max-width: 270px;
    }   
}



/* PRODUCT */
html {
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

.close_icon {
    display: block;
    position: absolute;
    right: 60px;
    top: 60px;
}

.MainMenu-Icon {
    width: 30px;
    height: 22px;
    cursor: pointer;
}




.text-block__color-section {
    display: flex;
    padding-bottom: 20px;
}

.text-block__color-section__holder {
    width: 85px;
    height: 85px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-block__color-section_item {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition-duration: 400ms;
    cursor: pointer;
}

.text-block__color-section_number {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-block__color-section__holder.active-color > .text-block__color-section_item > .text-block__color-section_number {
    border: 3px solid #fff;
    border-radius: 50%;
}

.text-block__color-section__holder.active-color > .text-block__color-section_item {
    width: 85px;
    height: 85px;
}

.text-block__color-section_item:hover {
    width: 85px;
    height: 85px;
    transition-duration: 400ms;
}

.text-block__color-section_item:hover > .text-block__color-section_number {
    width: 85px;
    height: 85px;
}

a.buy_now_link {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    color: #EA028A;
    text-decoration: underline;
}

/* a.buy_now_link.buy_now_link--desktop {
    display: block;
    position: absolute;
    left: 6.25vw;
    bottom: 160px;
} */

@media(max-width:1180px){
    a.buy_now_link {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 32px;
    }
    
/*     a.buy_now_link.buy_now_link--desktop {
display: none;
} */
}

@media(max-width:642px){
   a.buy_now_link {
        margin-top: 10px;
    }     
}

.product-section {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: #EEEEEE;
}

.product-section__text-block {
    position: relative;
    color: #222;
    padding: 100px 6.25vw;
    margin: 0;
    width: 50%;
    background-color: #fff;
}

.product-section__text-block {
    color: #222;
    padding: 100px 6.25vw;
    margin: 0;
    width: 50%;
    background-color: #fff;
}

/* .product-section__text-block {
    width: 42%;
}

@media(max-width:1366px){
    .product-section__text-block {
    width: 47%;
    }
} */

/* @media(max-width:1360px){
  .product-section__text-block {
    padding: 100px 80px;
}  
} */

h1.title-section__title {
    font-size: 50px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 3%;
    color: #222;
    font-weight: 700;
}

@media(max-width:1180px){
    h1.title-section__title {
    margin-bottom: 10px;
}    
}



@media(max-width:642px){
    h1.title-section__title {
    font-size: 35px;
    line-height: 38px;
}    
}

.title-section__title_marked {
    color: #EA028A;
}

.text-block__basket-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 20px;
}


.basket-section__price {
    font-size: 32px;
    font-weight: 700;
    color: #EA028A;
}

@media(max-width:1180px){
    .basket-section__price {
    margin-bottom: 10px;
}    
}

@media(max-width:642px){
    .basket-section__price {
    margin-bottom: 25px;
}    
}


@media(max-width:1180px){
    .basket-section__price {
    font-size: 35px;
    }
}

@media(max-width:642px){
    .basket-section__price {
    font-size: 32px;
    }
}


.text-block__title-section {
    margin-bottom: 10px;
}

.title-section__description {
    line-height: 1.8;
    font-size: 1.2em;
}

p.title-section__description {
    margin: 0;
}

.product-info-block__title {
    margin: 0 auto 2%;
}

.product-info-block__description {
    margin: 0 0 40px;
    line-height: 1.8;
}

@media(max-width:1180px){
    .product-info-block__description {
    margin: 0 0 30px;
}
}

@media(max-width:642px){
    .product-info-block__description {
    margin: 0 0 40px;
}
}

h2.product-info-block__description__title {
    color: #222;
    font-size: 25px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 10px;
}

.product-section__photo-block {
    width: 50%;
    margin: 0 auto;
}

/* .product-section__photo-block {
    width: 57%;
    margin: 0 auto;
}

@media(max-width:1366px){
    .product-section__photo-block {
    width: 53%;
    margin: 0 auto;
}

} */

.photo-block__product-holder {
    width: 100%;
    display: none;
}

.photo-block__product-holder.activedColorSlider {
    width: 100%;
    display: block;
}

.photo-block__product {
    width: 100%;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

.float-scroll {
    transform: rotate3d(0, 0, 0, 0.01deg);
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    will-change: transform;

}

input.radio-color-picker {
    display: none;
}

input.radio-color-picker:checked+label > .text-block__color-section_item {
    width: 85px;
    height: 85px;
}

input.radio-color-picker:checked+label > .text-block__color-section_item > .text-block__color-section_number {
    border: 3px solid #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

@media screen and (max-width: 1180px) {

    .photo-block__product {
        width: 100vw;
        height: 67vw;
        margin: 0 auto;
        display: block;
        object-fit: cover;
    }
    
    .photo-block__product-holder div{
        height: auto !important;    
    }

    .dots-pic {
        height: 8px;
        position: absolute;
        width: 86%;
        margin-left: 45px;
        bottom: 25px;
        display: flex;
    }

    .dot {
        width: 8px;
        height: 8px;
        margin-right: 15px;
        background: #22222247;
        border-radius: 4px;
    }

    .dot.active-dot {
        background: #222222;
    }

    .photo-block__product-holder.activedColorSlider {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        transition-duration: 400ms;
        height: 67vw;
        background-color: #fff
    }
    
    .photo-block__product-holder {
        height: 80vw;
    }

    .photo-block__product-holder.activedColorSlider::-webkit-scrollbar { /* chrome based */
        width: 0px;  /* ширина scrollbar'a */
        background: transparent;  /* опционально */
    }

    .product-section {
        display: flex;
        flex-direction: column;
    }

    .product-section__photo-block {
        width: 100%;
        position: relative;
    }

    .product-section__text-block {
        width: 100%;
        padding: 45px;
        padding-top: 35px;
    }
    .close_icon {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

@media(max-width:642px){
    .photo-block__product-holder.activedColorSlider {
        height: 120vw;
    }
    
    .photo-block__product {
        height: 120vw;
    }
    
    .dots-pic {
        margin-left: 30px;
    }
    
    .product-section__text-block {
        padding: 30px;
        padding-top: 5px;
    }
}










/* CATEGORY ARROW ANIMATION */

.t-cover__arrow-wrapper_animated {
    animation:t-arrow-bottom 1.7s infinite ease
}

@-webkit-keyframes t-arrow-bottom {
    0% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform:translateY(0)
    }

    50% {
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -o-transform: translateY(-7px);
        transform:translateY(-7px)
    }

    55% {
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -o-transform: translateY(-7px);
        transform:translateY(-7px)
    }

    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform:translateY(0)
    }
}

@keyframes t-arrow-bottom {
    0% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform:translateY(0)
    }

    50% {
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -o-transform: translateY(-7px);
        transform:translateY(-7px)
    }

    55% {
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -o-transform: translateY(-7px);
        transform:translateY(-7px)
    }

    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform:translateY(0)
    }
}

.CategoryMainBanner-iconArrow{
    display: inline-block;
  fill: currentColor;
  color: inherit;
  height: 100%;
  vertical-align: top;
}

.CategoryMainBanner-iconContainer{
    height: 65px;
    margin-left: 28px;
}

@media(max-width:642px){
    .CategoryMainBanner-iconContainer{
    height: 30px;
    margin-left: 10px;
    }
    
    .MainHomeBanner .SubNavigationMenu{
        display: none;
    } 
}

.js-menuIsOpened .SubNavigationMenu-ScrollDown{
    display: none;    
}

.js-menuIsOpened .SubNavigationMenu-ChangeLanguage:last-child{
    display: none    
}



.SubNavigationMenu-existing{
    display: flex !important;
    opacity: 0;
}


.SubNavigationMenu-appearance{
    animation: appearanceSubNavigationMenu;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;  
}

@keyframes appearanceSubNavigationMenu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.SubNavigationMenu.SubNavigationMenu--onFixedHeader{
    padding: 0 36px;    
}

.SubNavigationMenu-LanguageItem.LanguageItem-disabled:hover{
    color: #ffffff82;
    cursor: pointer;
}

.SubNavigationMenu-LanguageItem.LanguageItem-dark.LanguageItem-disabled:hover{
    color: #00000082;
    cursor: pointer;
}



.CategoryMainBanner-Content-BackgroundContent:last-child{
    display: none;    
}

.CategoryMainBanner.CategoryMainBanner--rightAlign .CategoryMainBanner-Content-BackgroundContent{
    display: none;    
}

.CategoryMainBanner.CategoryMainBanner--rightAlign .CategoryMainBanner-Content-BackgroundContent:last-child{
    display: block;    
}



.CategoryMainBanner-Content-Background:last-child{
    display: none;    
}

.CategoryMainBanner.CategoryMainBanner--leftAlign .CategoryMainBanner-Content-Background{
    display: none;    
}

.CategoryMainBanner.CategoryMainBanner--leftAlign .CategoryMainBanner-Content-Background:nth-child(2){
    display: block;    
}


@media(min-width:1181px){
    .CategoryMainBanner.CategoryMainBanner--rightAlign .CategoryMainBanner-Content-Container{
    padding-left: 0;
    right: 0;
    padding-right: 210px;
    align-items: flex-end;
    }
}

@media(max-width:1366px){
     .CategoryMainBanner.CategoryMainBanner--rightAlign .CategoryMainBanner-Content-Container{
        padding-right: 80px;
    }   
}

.CategoryMainBanner.CategoryMainBanner--rightAlign .CategoryMainBanner-SubTitle{
    text-align: right;
}

@media(max-width:1180px){
    .CategoryMainBanner-Content-BackgroundContent{
        background-size: auto 250vw !important;
        background-position: -21.5vw -43vh !important;
    }
}

@media(max-width:642px){
    .CategoryMainBanner-Content-BackgroundContent{
        background-size: auto 300vw !important;
        background-position: -45.5vw -28.5vh !important;
    }
}

@media(min-width:1181px){
     .text-block__color-section{
         display: none;
    }   
}

.text-block__color-section.text-block__color-section--desktop{
        display: flex;
        margin-bottom: 62px;
}

@media(max-width:1180px){
    
    a.CategoryMainBanner-SubTitle-Item:hover {
        color:#fff !important;
        }
        
        a.CategoryMainBanner-SubTitle-Item:active {
            color:#EA028A !important;
        }
        
        .CategoryMainBanner-SubTitle-Item {
            transition-duration: 0ms;
        }
        
        
        .CategoryMainBanner-SubTitle-Item:active > span > .arrowIcon {
            fill: #EA028A;
        }
        
        
      .text-block__color-section.text-block__color-section--desktop{
        display: none;
    }  
    
    
}



a.CategoryMainBanner-SubTitle-Item > span > svg {
    fill: #fff;
}

a.CategoryMainBanner-SubTitle-Item:hover > span > svg {
    fill: #EA028A;
}

@media(max-width: 374px) {
    .SubcategoryListing {
        width: 90%;
        margin: 0 auto;
    }
}



@media(max-width:1180px){ 
    
    .MainHomeBanner-arrowIcon {
        fill-opacity: 1;
        display: inline-block;
        fill: #fff;
        color: inherit;
        height: 100%;
        vertical-align: top;
        transition:all ease 800ms;
    }


    .MainHomeBanner-Content-LinkHolder--left:hover,
    .MainHomeBanner-Content-LinkHolder--left:hover .MainHomeBanner-Content-LinkArrow,
    .MainHomeBanner-Content-LinkHolder--right:hover .MainHomeBanner-Content-LinkArrow,
    .MainHomeBanner-Content-LinkHolder--right:hover,
    .MainHomeBanner-Content-LinkHolder--left:hover .MainHomeBanner-Content-LinkArrow,
    a.CategoryMainBanner-SubTitle-Item:hover,
    {
        color: #fff !important;
        
    }
    
    a.CategoryMainBanner-SubTitle-Item:hover > span > svg
    {
        fill: #fff;
    }

    
    .MainHomeBanner-Content-LinkHolder--left:active,
    .MainHomeBanner-Content-LinkHolder--left:active .MainHomeBanner-Content-LinkArrow,
    .MainHomeBanner-Content-LinkHolder--right:active .MainHomeBanner-Content-LinkArrow,
    .MainHomeBanner-Content-LinkHolder--right:active,
    .MainHomeBanner-Content-LinkHolder--left:active .MainHomeBanner-Content-LinkArrow,
     a.CategoryMainBanner-SubTitle-Item:active
    {
        color: #EA028A;
        transition-duration: 0ms;
    }
    
   
    a.MainHomeBanner-Content-LinkHolder:active > span > .MainHomeBanner-arrowIcon
    {
        fill: #EA028A;
        transition-duration: 0ms;
    }
    
    
    a.SubcategoryListing-ItemCard-Link:hover > .SubcategoryListing-ItemCard-Holder > .SubcategoryListing-ItemCard-Info > * {
    color: #222;
    transition-duration: 0ms;
    }
    
    a.SubcategoryListing-ItemCard-Link:active > .SubcategoryListing-ItemCard-Holder > .SubcategoryListing-ItemCard-Info > * {
    color: #EA028A;
    transition-duration: 0ms;
    }
    
    


}
