[builderList mainMenuItem]
modelClass = "Iamk\Category\Models\Category"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "desc"


[builderList subcategoryListing]
modelClass = "Iamk\Productinfo\Models\ProductInfo"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

==

{% set records = mainMenuItem.records %}
{% set displayColumn = mainMenuItem.displayColumn %}
{% set noRecordsMessage = mainMenuItem.noRecordsMessage %}
{% set detailsPage = mainMenuItem.detailsPage %}
{% set detailsKeyColumn = mainMenuItem.detailsKeyColumn %}
{% set detailsUrlParameter = mainMenuItem.detailsUrlParameter %}

{% set recordsProducts = subcategoryListing.records %}

<div class="MainMenuDrawer">
    <div class="SubNavigationMenu SubNavigationMenu-Fixed">
        <div class="SubNavigationMenu-ChangeLanguage">
            <a href="#" class="SubNavigationMenu-LanguageItem LanguageItem-dark LanguageItem-active" onclick="console.log('sdfsd')">ENG</a>
            <a href="#" class="SubNavigationMenu-LanguageItem LanguageItem-dark" onclick="console.log('sdfsd')">RUS</a>
        </div>
        <div class="SubNavigationMenu-ScrollDown">
            <svg width="27" height="14" viewBox="0 0 27 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 3.60039L2.4 0.400391L13.2 8.50039L24 0.400391L26.4 3.60039L13.2 13.5004L0 3.60039Z" fill="white"/>
            </svg>

        </div>
        <div class="SubNavigationMenu-ChangeLanguage">
            <a class="SubNavigationMenu-LanguageItem" href="#"></a>
            <a class="SubNavigationMenu-LanguageItem" href="#"></a>
        </div>
    </div>
    <div class="MainMenuDrawer-Items">
    

    

     

    {% for record in records %}

{% for recordProductItem in recordsProducts %}

{% if recordProductItem.slug == record.slug %}

        {{ recordProductItem.slug }}

        {% endif %}
     {% endfor %}

        <div class="MainMenuDrawer-Item">
            <div class="MainMenuDrawer-Item-Category">{{record.title}}</div>
            <div class="MainMenuDrawer-Item-Subcategories">
                <a  onclick="goTo('/category/{{record.slug}}')" class="MainMenuDrawer-Item-Subcategory">All products<sup> 10</sup></a>
                {% for menuItem in record.subcategory %} 
                <a  onclick="goTo('/category/{{record.slug}}/#{{menuItem.slug}}')" class="MainMenuDrawer-Item-Subcategory">{{menuItem.subcategory_title}}<sup> 3</sup></a>
                {% endfor %}
            </div>
        </div>
   
    {% endfor %}

        
    </div>
</div>

<style>




</style>


<script>



    let menuCategoryList = document.querySelectorAll('.MainMenuDrawer-Item');


    function goTo(link) {
        window.location = link
        openMenuHandler()
    }

    function clearActiveSubmenu() {
        for (let i = 0; i < menuCategoryList.length; i++) {
            menuCategoryList[i].querySelector('.MainMenuDrawer-Item-Subcategories').style.height = '0px'
            menuCategoryList[i].classList.remove('subCategoryIsActive')
        }
    }


    for (let i = 0; i < menuCategoryList.length; i++) {
        menuCategoryList[i].addEventListener("click",
            function (e){

            if (e.toElement.parentNode.classList.contains('subCategoryIsActive')) {
                let subCategoriesMenu =  document.querySelector('.subCategoryIsActive > .MainMenuDrawer-Item-Subcategories')

                let subCategoryMenu = document.querySelectorAll('.subCategoryIsActive > .MainMenuDrawer-Item-Subcategories > .MainMenuDrawer-Item-Subcategory')

                let subCategoryHeight = subCategoryMenu[0].clientHeight * subCategoryMenu.length
                subCategoriesMenu.style.height = '0'
                e.toElement.parentNode.classList.remove('subCategoryIsActive')
            } else {
                clearActiveSubmenu()

                e.toElement.parentNode.classList.add('subCategoryIsActive')

                let subCategoriesMenu =  document.querySelector('.subCategoryIsActive > .MainMenuDrawer-Item-Subcategories')

                let subCategoryMenu = document.querySelectorAll('.subCategoryIsActive > .MainMenuDrawer-Item-Subcategories > .MainMenuDrawer-Item-Subcategory')

                let subCategoryHeight = subCategoryMenu[0].clientHeight * subCategoryMenu.length
                subCategoriesMenu.style.height = subCategoryHeight + 'px'
            }


            }
        )
    }
</script>