[builderList mainMenuItem]
modelClass = "Iamk\Category\Models\Category"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "desc"
==
<div class="MainMenuDrawer">
    <div class="SubNavigationMenu SubNavigationMenu-Fixed">
        <div class="SubNavigationMenu-ChangeLanguage">
            <a class="SubNavigationMenu-LanguageItem LanguageItem-dark LanguageItem-active" href="#">ENG</a>
            <a class="SubNavigationMenu-LanguageItem LanguageItem-dark" href="#">RUS</a>
        </div>
        <div class="SubNavigationMenu-ScrollDown">
            <svg width="27" height="14" viewBox="0 0 27 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 3.60039L2.4 0.400391L13.2 8.50039L24 0.400391L26.4 3.60039L13.2 13.5004L0 3.60039Z" fill="white"/>
            </svg>

        </div>
        <div class="SubNavigationMenu-ChangeLanguage">
            <a class="SubNavigationMenu-LanguageItem LanguageItem-active" href="#"></a>
            <a class="SubNavigationMenu-LanguageItem" href="#"></a>
        </div>
    </div>
    <div class="MainMenuDrawer-Items">
    {% set records = mainMenuItem.records %}
{% set displayColumn = mainMenuItem.displayColumn %}
{% set noRecordsMessage = mainMenuItem.noRecordsMessage %}
{% set detailsPage = mainMenuItem.detailsPage %}
{% set detailsKeyColumn = mainMenuItem.detailsKeyColumn %}
{% set detailsUrlParameter = mainMenuItem.detailsUrlParameter %}

    {% for record in records %}
        <div class="MainMenuDrawer-Item">
            <div class="MainMenuDrawer-Item-Category">{{record.title}}</div>
            <div class="MainMenuDrawer-Item-Subcategories">
                <a  onclick="goTo('/category/{{record.slug}}')" class="MainMenuDrawer-Item-Subcategory">All products</a>
                {% for menuItem in record.subcategory %} 
                <a  onclick="goTo('/category/{{record.slug}}/#{{menuItem.slug}}')" class="MainMenuDrawer-Item-Subcategory">{{menuItem.subcategory_title}}</a>
                {% endfor %}
            </div>
        </div>
   
    {% endfor %}

        
    </div>
</div>

<style>


    .SubNavigationMenu {
        width: 100vw;
        padding: 0 50px;
        height: 60px;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        z-index: 950;
    }

    .SubNavigationMenu.SubNavigationMenu-Fixed {
        position: fixed;
        z-index: 1300;
    }


    .SubNavigationMenu-ChangeLanguage {
        min-width: 75px;
        display: flex;
        justify-content: space-around;
        cursor: pointer;
    }

    a.SubNavigationMenu-LanguageItem {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
    }


    a.SubNavigationMenu-LanguageItem.LanguageItem-active {
        color: #ffffff82;
        text-decoration: none;
    }

    a.SubNavigationMenu-LanguageItem.LanguageItem-dark {
        color: #000;
        text-decoration: none;
    }

    a.SubNavigationMenu-LanguageItem.LanguageItem-dark.LanguageItem-active {
        color: #00000082;
        text-decoration: none;
    }


    .MainMenuDrawer-Item-Category {
        font-size: 70px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .MainMenuDrawer-Item-Category:hover {
        color: #EA028A;
    }

    a.MainMenuDrawer-Item-Subcategory {
        text-decoration: none;
        color: black;
        font-size: 40px;
        font-weight: 500;
        text-transform: uppercase;

    }
    .MainMenuDrawer-Item-Subcategories{
        display: flex;
        flex-direction: column;
        height: 0;
        overflow: hidden;
        transition-duration: 500ms;
    }
    .MainMenuDrawer-Items{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: black;
    }
    
    .MainMenuDrawer-Item {
        cursor: pointer;
    }

    .MainMenuDrawer {
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        opacity: 0;
        z-index: -555;
        transition-duration: 400ms;
        position: fixed;
    }
    .MainMenuDrawer.js-menuIsOpened {
        z-index: 990;
        opacity: 1;
        transition-duration: 400ms;
    }


    @media screen and (max-width: 375px) {
        .jsDesktop {
            display: none;
        }

        .MainMenuDrawer-Item-Category {
            font-size: 50px;
            font-weight: 500;
            text-transform: uppercase;
        }
        a.MainMenuDrawer-Item-Subcategory {
            text-decoration: none;
            color: black;
            font-size: 25px;
            font-weight: 500;
            text-transform: uppercase;

        }
        .MainMenuDrawer-Items{
            width: 100%;
            padding: 30px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            text-align: left;
            color: black;
        }
    }

</style>


<script>



    let menuCategoryList = document.querySelectorAll('.MainMenuDrawer-Item');


    function goTo(link) {
        window.location = link
        openMenuHandler()
    }

    function clearActiveSubmenu() {
        for (let i = 0; i < menuCategoryList.length; i++) {
            menuCategoryList[i].querySelector('.MainMenuDrawer-Item-Subcategories').style.height = '0px'
            menuCategoryList[i].classList.remove('subCategoryIsActive')
        }
    }


    for (let i = 0; i < menuCategoryList.length; i++) {
        menuCategoryList[i].addEventListener("click",
            function (e){

                clearActiveSubmenu()

                e.toElement.parentNode.classList.toggle('subCategoryIsActive')

                let subCategoriesMenu =  document.querySelector('.subCategoryIsActive > .MainMenuDrawer-Item-Subcategories')

                let subCategoryMenu = document.querySelectorAll('.subCategoryIsActive > .MainMenuDrawer-Item-Subcategories > .MainMenuDrawer-Item-Subcategory')

                let subCategoryHeight = subCategoryMenu[0].clientHeight * subCategoryMenu.length
                subCategoriesMenu.style.height = subCategoryHeight + 'px'
            }
        )
    }
</script>